{{#if successMessage}}
    {{#each successMessage}}
        <div class="alert alert-success">
            {{this}}
        </div>
    {{/each}}
{{/if}}

{{#if errorMessage}}
    {{#each errorMessage}}
        {{!-- {{flashArrayMessages}} --}}
        <div class="alert alert-danger">
            {{this}}
        </div>
    {{/each}}
{{/if}}