{{#if successMessage}}
    <div class="alert alert-success">
        {{successMessage}}
    </div>
{{/if}}

{{#if errorMessage}}
    {{!-- {{flashArrayMessages}} --}}
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
{{/if}}